
body{
  background-color: grey;
  background-image: url("V.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}
.container{
  /* background-color: indianred; */
  max-width: 900px;
  /* height:100px; */
  /* border:1px solid blue; */
  margin:0 auto;
}
.apply_box{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: transparent ;
  /* background-image: url("V.jpg"); */
  /* background-color: rgb(216, 216, 216); */
  max-width: 600px;
  margin:0 auto;
  padding:10px;
  /* height: 50px; */
  box-shadow: 5px 5px 10px rgba(1,1,1,.4);
  border-radius:10px;
  margin-top:50px;


}
.form-container{
  margin-top:50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}
.form-control{
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  
}
label{
  margin-bottom:5px;
  /* margin: 0 auto; */
  letter-spacing: .4px;
}

.container h1{
  text-align: center;
  text-transform:uppercase;
  letter-spacing: 2px;
}
textarea,input,select{
  padding:7px 10px;
  border:1px solid grey;
  border-radius: 5px;
  font-size: 15px;
}
input:focus{
  outline: red;
}
.button_container{
  margin-top:20px;
  display: flex;
  justify-content: center;
  /* border:2px solid yellow; */

  
}
button{
  background-color: green;
  color:white;
  border:transparent solid 1px;
  font-size: 19px;
  padding:10px 30px;
  border-radius: 10px;
  transition:.2s ease-in;
  
}
button:hover{
  background-color: rgb(0, 103, 0);
  border:1px solid darkgreen;
  cursor:pointer;

}
.textarea_control{
  grid-column: 1/span 2;
}
.textarea_control textarea{
  width:96%;
  
}
@media (max-width:456px){
  .textarea_control{
      grid-column: 1/span 1;
  }
  

}